In [ ]:
from dbconnect import DBUpdater

:

In [2]:
db = DBUpdater()

In [3]:
db.tableList

['User', 'VoteName', 'VoteItem', 'VoteResult']

In [4]:
db.select_table('User')

   ID Name
0   1  고건영
1   2  강지원
2   3    A
3   4    b
4   5    c
5   6    가

In [5]:
db.reset_db()

In [6]:
for t in ['고건영', '강지원', 'A', 'b', 'c', '가']:
    sql = f"INSERT INTO User (Name) VALUES (\"{t}\")"
    #위에 sql 언어는 모징? -> User테이블에 name column에 value는 t로 넣는다 이 뜻인가?
    db.sql_input(sql)

In [7]:
db.select_table('User')

   ID Name
0   1  고건영
1   2  강지원
2   3    A
3   4    b
4   5    c
5   6    가

In [8]:
db.insert_VoteName('치킨')
db.insert_VoteName('탕수육')
db.insert_VoteName('훠궈')
db.insert_VoteName('언어')

INSERT INTO VoteName (Name) VALUES ("치킨")
INSERT INTO VoteName (Name) VALUES ("탕수육")
INSERT INTO VoteName (Name) VALUES ("훠궈")
INSERT INTO VoteName (Name) VALUES ("언어")

In [9]:
db.select_table('VoteName')

   ID Name
0   1   치킨
1   2  탕수육
2   3   훠궈
3   4   언어

In [10]:
df = db.select_table('VoteName')

In [11]:
df[df['Name'] == '탕수육']['ID'].values[0]

2

In [12]:
df.iloc[0]

ID       1
Name    치킨
Name: 0, dtype: object

In [13]:
ui = df['Name'].to_list()

In [14]:
ui

['치킨', '탕수육', '훠궈', '언어']

In [15]:
db.insert_VoteItem(1, 0, '후라이드')
db.insert_VoteItem(1, 1, '양념')

In [16]:
db.insert_VoteItem(2, 2, '찍먹')
db.insert_VoteItem(2, 3, '부먹')

In [17]:
db.insert_VoteItem(3, 4, '백탕')
db.insert_VoteItem(3, 5, '홍탕')

In [18]:
db.insert_VoteItem(4, 6, 'CSS')
db.insert_VoteItem(4, 7, 'HTML')
db.insert_VoteItem(4, 8, 'Python')
db.insert_VoteItem(4, 9, 'Java')

In [19]:
db.select_table('VoteItem')

   VoteID  Num    Name
0       1    0    후라이드
1       1    1      양념
2       2    2      찍먹
3       2    3      부먹
4       3    4      백탕
5       3    5      홍탕
6       4    6     CSS
7       4    7    HTML
8       4    8  Python
9       4    9    Java

In [20]:
sd = db.select_table('VoteItem')

In [21]:
sd[sd['VoteID'] == 2]['Name'].to_list()

['찍먹', '부먹']

In [22]:
        vote_name = request.form.to_dict()['vote']
        result_name = dt.vote_item(vote_name)

NameError: name 'request' is not defined

In [ ]:
f = ['백탕','홍탕']

In [23]:
name = ' '.join(f)

NameError: name 'f' is not defined

In [24]:
name

NameError: name 'name' is not defined

In [25]:
g ="['CSS', 'HTML', 'Python', 'Java']"

In [26]:
for i in g:
    print(i)

[
'
C
S
S
'
,

'
H
T
M
L
'
,

'
P
y
t
h
o
n
'
,

'
J
a
v
a
'
]

In [92]:
j = g[1:-1].replace('\'','').split(',')

In [95]:
for k,i in enumerate(j):
    print(i.strip())
    j[k] = i.strip()

CSS
HTML
Python
Java

In [96]:
j

['CSS', 'HTML', 'Python', 'Java']

In [77]:
h = g[1:-1].split(',')

In [82]:
for i in h:
    print(i.replace(/'/',''))

SyntaxError: invalid syntax (64280550.py, line 2)

In [84]:
for i in h:
    print(i.replace('')

'CSS'
 'HTML'
 'Python'
 'Java'

In [3]:
db.select_table('VoteResult')

   VoteID  UserID  Num
0       2       1    2

In [8]:
import pandas as pd

In [4]:
df_item = db.select_table('VoteItem')
df_result = db.select_table('VoteResult')

In [14]:
df_item2 = df_item[df_item['VoteID'] == 4]

In [15]:
df_item2

   VoteID  Num    Name
6       4    6     CSS
7       4    7    HTML
8       4    8  Python
9       4    9    Java

In [6]:
df_result

   VoteID  UserID  Num
0       2       1    2

In [10]:
tot = pd.merge(df_result,df_item[['Num','Name']],on = 'Num',how = 'outer')

In [11]:
tot.groupby('Name')['UserID'].count().to_dict()

{'CSS': 0,
 'HTML': 0,
 'Java': 0,
 'Python': 0,
 '백탕': 0,
 '부먹': 0,
 '양념': 0,
 '찍먹': 1,
 '홍탕': 0,
 '후라이드': 0}

In [12]:
df_item

   VoteID  Num    Name
0       1    0    후라이드
1       1    1      양념
2       2    2      찍먹
3       2    3      부먹
4       3    4      백탕
5       3    5      홍탕
6       4    6     CSS
7       4    7    HTML
8       4    8  Python
9       4    9    Java

In [ ]:
tot = pd.merge(df_result,df_item[['Num','Name']],on = 'Num',how = 'outer')
tot_result = tot.groupby('Name')['UserID'].count().to_dict()
tot_dict = {}